# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Data and Models
data/
models/
*.csv
*.nc
*.tif
*.tiff
*.h5
*.hdf5
*.pb
*.pkl
*.joblib
*.db
